<% provide(:title, "Co_to") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Lucid Tracker</title>
  </head>
  <body>
    <h1>Co_to</h1>
    <p>
      Co to jest świadomy sen.
    </p>
  </body>
</html>
