<% provide(:title, "Spis treści") %>

<h2 align="center">Spis treści</h2>

<p> Tu zrobić spis treści</p>
<%= link_to "faq", "/faq" %>
<p> </p>
<%= link_to "co_to", "/co_to"  %>
<p> </p>
<%= link_to "Home", "/strona"  %>
<p> </p>
<%= link_to "Sign up", "/users/new"  %>
<p> </p>
