<% provide(:title, "Spis treści") %>

<h2 align="center">Spis treści</h2>

<p> Tu zrobić spis treści</p>
<%= link_to "faq", faq_path %>
<p> </p>
<%= link_to "co_to", about_path  %>
<p> </p>
<%= link_to "Home", root_path  %>
<p> </p>
<%= link_to "Sign up", signup_path  %>
<p> </p>
