<% provide(:title, "FAQ") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Lucid Tracker</title>
  </head>
  <body>
    <h1>FAQ</h1>
    <p>
      Tu zrobic FAQ
    </p>
  </body>
</html>
