<% provide(:title, "Strona główna") %>
<!DOCTYPE html >
<html>
<head>
	<title> </title>
</head>
<body>
<h2 align="center">Strona główna</h2>
<p> </p>
<p> Tu zrobić główną użytkowika</p>
</body>
</html>